.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 992px) {
  .page { 
    padding: 0 20px !important; 
    gap: 30px !important; 
  }
  
  .expertise-card { 
    flex: 0 0 85% !important; 
  }
  
  .nav-arrows { 
    display: none !important; 
  }
}

/* contact section */
@keyframes rotateDiamond {
  from { transform: rotate(45deg); }
  to { transform: rotate(405deg); }
}

.animate-rotateDiamond {
  animation: rotateDiamond 20s infinite linear;
}

.ease-in-out-cubic {
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}


/* event form */
@keyframes slideLeft {
          from {
            transform: translateX(100%);
            opacity: 0;
          }
          to {
            transform: translateX(0);
            opacity: 1;
          }
        }
        .animate-slide-left {
          animation: slideLeft 0.3s ease;
        }